<app-menu [activeTab]="'notes'"></app-menu>


<form>
  <div class="form-group">
    <textarea class="form-control" id="textarea" name="textarea" rows="3" placeholder="Write a note and use htags..."
              [(ngModel)]="content"></textarea>
  </div>
  <button type="button" class="btn btn-primary pull-right" (click)="saveNote()">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </button>

  <button type="button" class="btn btn-secondary pull-right" (click)="refresh()">
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </button>
</form>


<div class="clearfix"></div>
<hr>

<!--
<div class="form-group">
  <select [(ngModel)]="selectedTag" class="form-control" id="exampleFormControlSelect1">
    <option [ngValue]="null">- Select tag -</option>
    <option *ngFor="let tag of tags" [ngValue]="tag">{{tag.name}}</option>
  </select>
</div>
-->

<div *ngFor="let note of notes" class="note">

  <p class="content" [hidden]="note.editing">
    <span *ngFor="let part of contentSplited(note)"><a class="tag" [routerLink]="['/notes', tagsByWord[part].name]" *ngIf="tagsByWord[part]"><font
      color="#{{tagsByWord[part].color}}">{{part}}</font></a><span *ngIf="!tagsByWord[part]">{{part}}</span></span>
  </p>
  <textarea *ngIf="note.editing" class="form-control" rows="3" [(ngModel)]="note.content"></textarea>

  <div class="meta" *ngIf="!note.editing">
    <span *ngIf="note.user" class="user">{{note.user.name}}</span>
    <span class="date">{{note.creationDate | date: 'dd/MM/yyyy HH:mm'}}</span>
  </div>

  <div class="buttons">


    <button *ngIf="!note.editing" type="button" class="btn btn-primary" (click)="edit(note)"><i
      class="fa fa-pencil" aria-hidden="true"></i></button>


    <button *ngIf="!note.editing" type="button" class="btn btn-secondary" (click)="delete(note)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>


    <button *ngIf="note.editing" type="submit" class="btn btn-success" (click)="update(note)"><i
      class="fa fa-check"
      aria-hidden="true"></i>
    </button>

    <button *ngIf="note.editing" type="button" class="btn btn-secondary" (click)="cancel(note)"><i
      class="fa fa-undo" aria-hidden="true"></i>
    </button>

    <div class="clearfix"></div>
  </div>

</div>
