/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family:"Arial";
  padding:5px;
}

.note{
  border-bottom:1px solid lightgrey;
  padding:3px;
  padding-left:0px;
  padding-right:0px;
  padding-right:46px;
  position:relative;
  min-height:86px;
  padding-bottom:10px;
}

.content{
  border-radius:5px;
}
.date, .user{
  font-size:0.7em;
}


.btn, .pull-right{
  margin:2px;
}

.meta{
  padding:0px;
  margin:0px;
  position:absolute;
  bottom:0px;
}

.note .buttons{
  width:46px;
  position:absolute;
  right:0px;
  top:0px;
}

.note .btn{
  width:40px;
}
